{% extends "ocean_docs/base.html" %}
{% load strip_url %}



{% block uploads %}
<div class="list-card">
  <div class="clearfix">
	<div>
		<h5>{{errors}}</h5>
	
      </div>	
    </div>
</div>
    
{% endblock uploads %}