{% extends "ocean_docs/base.html" %}

{% block uploads %}
<div class="list-card">
  <div class="clearfix">
	<div>
		{% if errors %}
		<p>{{errors}}</p>
		{% else %}
		<h3>Are You Sure?</h3>
		<h5>You want to delete selected item?</h5>
		<form method="post">{% csrf_token %}
			<div>
				<input type="submit" value="Yes I am sure">
				<a href="#" onclick="window.history.back(); return false;" class="button cancel-link"> No, take me back</a>
			</div>

		</form>
		{% endif %}
      </div>	
    </div>
</div>
    
{% endblock uploads %}