{% extends "ocean_docs/base.html" %}
{% load strip_url %}

{% block list_content %}
    <!--  listing contents -->
<div class="list-card">
  <div class="clearfix">
    {% if previous_dir %}
    <div>
      <a href="{{request.get_full_path|previous_dir_url}}">Go to previous Directory</a>
    </div>
    {% endif %}
    <!-- header of list-->
    <div class="list-card__item list-card__item--header hidden-xs">
      <div>Name of dir/file</div>
      <div>type/options</div>
      <div>Uploaded</div>
      <div>Uploaded</div>
      <div>Delete?</div>
    </div>
    <!-- listing of dir -->
    {% for content in dirnames %}
    <div class="list-card__item">
      <div>{{content}}</div>
      <div>
        <a href="{{request.get_full_path}}{{content}}/{{content.enquiry_id}}">View</a>
      </div>
      <div>{{content.created_by.username}}</div>
      <div>{{content.created_at}}</div>
      <div>
        <a href="{{request.get_full_path|static_to_delete_url:content}}">Delete</a>
      </div>
    </div>
    {% endfor %}
    <!-- end of listing of dir -->
    <!-- listing of files -->
    {% for doc in documents %}
    <div class="list-card__item">
      <div>{{doc.file_name}}</div>
      <div>
        <a href="{{doc.docfile}}">View/Download</a>
      </div>
      <div>{{doc.uploaded_by}}</div>
      <div>{{doc.uploaded_at}}</div>
      <div>
        <a href="{{request.get_full_path|static_to_doc_delete_url:doc}}">Delete</a>
      </div>
    </div>
    {% endfor %}
    <!-- end of listing of files -->
  <!-- form for creating a folder -->
  {% if allow_file_creation %}
  <div class="form">
    <form class="register" method="POST" action="{{request.get_full_path}}">{% csrf_token %}
      <input type="text" name="filename" class="register-input" placeholder="filename">
      {{errors}}
      File name must have only numbers, characters and '_'
      <input type="submit" value="Create Folder" class="register-button">
    </form>
  </div>
  <!-- closing folder creation -->
  {% endif %}
  <!-- redirecting to upload url-->
  {% if upload_file_enable %}
  <div>
    <a href="{{request.get_full_path|static_url_to_upload_url:'/uploads'}}" type="submit">Upload a file to this folder</a>
  </div>
  {% endif %}
</div>
</div>
{% endblock list_content %}