{% extends "ocean_docs/base.html" %}
{% load strip_url %}



{% block uploads %}
<div class="list-card">
  <div class="clearfix">
	<div>
		<a href="{{request.get_full_path|upload_url_to_static_url:'/ocean_docs'}}" type="submit">Go back to folder</a>
	<!-- 
	</div>
	{% for doc in documents %}
	<a href="{{doc.docfile}}" type="submit">{{doc.docfile}}</a>
	{% endfor %}
	<div>
	-->
	{% if success_message %}
	<div>
		{{success_message}}
	</div>
	{% endif %}
		<h2>Upload your file</h2>
        <form class="register" method="POST" action="{{request.get_full_path}}" enctype="multipart/form-data">{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
		<p>{{errors}}</p>
        <!--<p>{{ form.docfile.label_tag }} </p> -->
		<p>{{ form.docfile.errors }}{{ form.docfile }}</p>
		<p><input type="submit" value="Upload" class="register-button" /></p>
        </form>
      </div>	
    </div>
</div>
    
{% endblock uploads %}