{% extends "ocean_docs/base.html" %}
{% load strip_url %}

{% block upload_log %}

<div class="list-cardd">
  <div class="clearfix">
    <!-- header of list-->
    <div class="list-cardd__item list-cardd__item--header hidden-xs">
      <div>Uploded File</div>
      <div>Uploded by</div>
      <div>Uploded at</div>
    </div>
    <!-- listing of dir -->
    {% for doc in docs %}
    <div class="list-cardd__item">
      <div>{{doc.dir_path|full_path_file:doc.file_name}}</div>
      <div>
        {{doc.uploaded_by.username}}
      </div>
      <div>
        {{doc.uploaded_at}}
      </div>
    </div>
    {% endfor %}
    <!-- end of listing of dir -->

</div>
</div>
{% endblock upload_log %}