.list-card {
  background-color: #eee;
  padding:22px 32px 42px;
  margin: 30px auto;
  max-width: 1000px;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:3px;
}

@media screen and (max-width: 767px) {.list-card{background-color:transparent;box-shadow:none !important;padding:0}}
.list-card__header {
  font-size: 16px;
  text-transform: uppercase;
  margin:0px 0 15px;
  color:#999;
}
.list-card__item {
  font-size: 13px;
  padding:8px 0;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.list-card__item.lapsed {pointer-events:none;color:#aaa;background-color: #efeff4;}
@media screen and (max-width: 767px) {.list-card__item{background-color:#fff;padding:8px 10px;color:#999}}
.list-card__item > div {
  display: inline-block;
  padding:0 5px;
  min-width: 17%;
  vertical-align: middle;
}
.list-card__item > div:first-child {width:25%;}
@media screen and (min-width: 767px){.list-card__item > div.list-card__item__single {padding:5px 10px;border:1px solid #eaeaea;}}
@media screen and (max-width: 767px) {.list-card__item > div{display:block}.list-card__item > div:first-child {width:100%;padding-right: 60px;color:#314451;margin-bottom: 5px;}}
.list-card__item__action {
  text-align: center;
  position: absolute;
  right: 5px;
  top:5px;
  width:auto;
  min-width: auto !important;
}

@media screen and (max-width: 767px) {.list-card__item__action{position:absolute;top:12px}}
.list-card__item--header {
  font-weight: bold;
  text-transform: uppercase;
}
.list-card__item:last-child {
  margin-bottom:20px;
  border: none;
}
.list-card__form input[type='text'] {
  display: block;
    max-width: 30 0px;
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.list-card__form .errorlist {
  list-style-type: none;
  padding:0 5px;
  margin: 0;
  display: inline-block;
  font-size: 12px;
  color: #ff0000;
}
.container {
  background-color: #FFFFF0;
}
/* new css from bostrap */
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}


/* for downlod logs*/

.list-cardd {
  background-color: #eee;
  padding:22px 32px 42px;
  margin: 30px auto;
  max-width: 1000px;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:3px;
}

@media screen and (max-width: 767px) {.list-card{background-color:transparent;box-shadow:none !important;padding:0}}
.list-cardd__header {
  font-size: 16px;
  text-transform: uppercase;
  margin:0px 0 15px;
  color:#999;
}
.list-cardd__item {
  font-size: 13px;
  padding:8px 0;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.list-cardd__item.lapsed {pointer-events:none;color:#aaa;background-color: #efeff4;}
@media screen and (max-width: 767px) {.list-cardd__item{background-color:#fff;padding:8px 10px;color:#999}}
.list-cardd__item > div {
  display: inline-block;
  padding:0 5px;
  min-width: 10%;
  vertical-align: middle;
}
.list-cardd__item > div:first-child {width:50%;}
@media screen and (min-width: 767px){.list-cardd__item > div.list-cardd__item__single {padding:5px 10px;border:1px solid #eaeaea;}}
@media screen and (max-width: 767px) {.list-cardd__item > div{display:block}.list-cardd__item > div:first-child {width:100%;padding-right: 60px;color:#314451;margin-bottom: 5px;}}
.list-cardd__item__action {
  text-align: center;
  position: absolute;
  right: 5px;
  top:5px;
  width:auto;
  min-width: auto !important;
}

@media screen and (max-width: 767px) {.list-cardd__item__action{position:absolute;top:12px}}
.list-cardd__item--header {
  font-weight: bold;
  text-transform: uppercase;
}
.list-cardd__item:last-child {
  margin-bottom:20px;
  border: none;
}
